.homeContainer {
	/* position: relative;
	width: 100%;
	height: 100%; */
}

.canvasContainer {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}

.heading {
	position: absolute;
	top: 5%;
	left: 5%;
}

.crosshair {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 2px;
	background-color: #fff; /* White crosshair */
	transform: translate(-50%, -50%); /* Center the crosshair */
	z-index: 9999; /* Ensure it's above everything */
}
